.projects__container {
    padding: 10rem 0;
}

.projects__allItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5rem;
    margin-top: 5rem;
}


.projects__subtitle {
    font-family: 'RobotoMono Regular';
    font-size: 2rem;
}

.projects__title {
    font-family: 'Montserrat Bold';
    font-size: 6rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .projects__subtitle {
        font-size: 1.2rem;
    }

    .projects__title {
        font-size: 4.8rem;
    }
}